html {
    box-sizing: border-block;
}

*, *::before, *::after {
    box-sizing: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25vw;
}

strong, em {
    font-size: inherit; font-style: inherit;
}

.headers, .sub-headers, .headers strong, .headers em {
font-weight: bold;

}

.headers .hook,  {
    font-size: 1.4vw; font-style: normal;
}

.headers .line {
font-size: 3vw; font-style: normal;
}

.headers .stinger {
font-size: 1.8vw; font-style: normal;
}


 /* .sub-headers {
font-size: 5rem;
}

.content, strong, em {
    font-weight: normal;

}

.img.marathon {
    height: auto; width: 200px;
}

.dish-img {

} 
 */
