html {
    box-sizing: border-block;
}

*, *::before, *::after {
    box-sizing: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

.headers, .sub-headers {
font-weight: bold;

}

.header.hook {
    font-size:;
}

/* .sub-headers {

}

.content, strong, em {
    font-weight: normal;

}

.img.marathon {
    height: auto; width: 200px;
}

.dish-img {

} */